
.header-container {
    position: fixed;
    left: 0;
    top: 0;
    box-sizing: border-box;
    width: 100%; 
    display: flex; 
    justify-content: space-between; 
    padding: 10px 20px; 
    background-color: #7d73d5; 
    }


.login-button,
.register-button,
.logout-button {
    background-color: #007bff; 
    color: #fff; 
    border: none; 
    border-radius: 20px; 
    padding: 8px 16px; 
    margin-left: 10px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}


.login-button:hover,
.register-button:hover,
.logout-button:hover {
    background-color: #0056b3; 
}


.headed-cloud {
    font-size: 24px; 
    color: #333;
    margin: 0; 
    display: flex; 
    align-items: center; 
}


.headed-cloud img {
    width: 40px; 
    height: 40px; 
    margin-left: 10px; 
}


.user-info {
    display: flex; 
    align-items: center; /
}


.username {
    font-size: 18px; 
    color: #1100ff; 
    margin-right: 15px; 
}



.error {
    color: red; 
    margin-top: 10px; 
    font-size: 14px; 
}
